form {
  background-color: burlywood;
  text-align: center;
}

div {
  padding: 5px;
}

button {
  background-color: cadetblue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: #51bcbf;
}
